<!DOCTYPE html>
<title>Mascot</title>
<head>
    <style>
        img {
            height: 200px;
            width: 200px;
        }

        #right {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
    </style>
</head>
<body>
    <div id="right">
        <img src="~/images/mascot.gif" />
        
    </div>
</body>
</html>    